.container {
    display: flex;
}

.content {
    width: calc(100% - 105px);
    min-height: 100vh;
    max-height: 100vh;
    margin-left: auto;
}

.sideBar {
    height: 100vh;
    width: calc(100px - 5px);
    background: red;
}

.popover {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}