.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

    .title {
        color: #fafafa;
    }
}

.btns {
    display: flex;
    gap: 10px;
}
